<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.xiner.trash">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <application
        android:name=".main.Main"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".acitivity.RegisterActivity"
            android:label="@string/app_name"
            android:theme="@style/registerstyle">

        </activity>
        <activity
            android:name=".acitivity.PublishCommodityActivity"
            android:label="@string/title_activity_person"></activity>
        <activity
            android:name=".acitivity.PersonActivity"
            android:label="@string/title_activity_publiccommodity"
            android:theme="@style/haveaddressstyle"></activity>
        <activity
            android:name=".acitivity.LoginActivity"
            android:label="@string/title_activity_login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".acitivity.AllGoodsActivity"
            android:label="@string/title_activity_all_goods"
            android:theme="@style/haveaddressstyle"></activity>
        <activity
            android:name=".acitivity.GoodDetailActivity"
            android:label="@string/title_activity_good_detail"></activity>
        <activity
            android:name=".acitivity.SettingActivity"
            android:label="@string/title_activity_setting"></activity>
        <activity
            android:name=".acitivity.MyAddressActivity"
            android:label="@string/title_activity_my_address"></activity>
        <activity
            android:name=".acitivity.SelectActivity"
            android:label="@string/title_activity_select"
            android:theme="@style/haveaddressstyle"></activity>
        <activity
            android:name=".acitivity.AbootActivity"
            android:label="@string/title_activity_aboot"></activity>
        <activity
            android:name=".acitivity.MyCollectionActivity"
            android:label="@string/title_activity_my_collection"></activity>
        <activity
            android:name=".acitivity.FragmentTabsPager"
            android:label="@string/title_activity_my_release"></activity>
        <activity
            android:name=".acitivity.EditGoodActivity"
            android:label="@string/title_activity_edit_good"></activity>
        <activity
            android:name=".acitivity.WasteActivity"
            android:label="@string/title_activity_trash"
            android:theme="@style/haveaddressstyle"></activity>
        <activity
            android:name=".acitivity.PublishWasteActivity"
            android:label="@string/title_activity_publictrash"></activity>
        <activity
            android:name=".acitivity.WasteDetailActivity"
            android:label="@string/title_activity_trash_detail"></activity>
    </application>

</manifest>
